*.pyc
*.bkp
*.png
*.db-journal
*.csv
*.xls
*.zip
python/mp.py
python/tmpplot.py
*.log
*.1
*.svg
*.db
/.spyderproject
/db
/resources
/pictures
/BBT2016 output
/CAW16012 - filippine
/alborz-in
/alborz-out